*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
  
body{
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-color: #fff2f2;
    font-family: "Noto Sans";
    background-repeat: no-repeat;
    /*background-position: -150px;*/
    overflow: scroll;
}
body::-webkit-scrollbar {
    display: none;
  }

  h1{
    text-align: center;
    justify-content: center;
    color: white;
    position: relative;
    font-family: "Belanosima";
    left: 24%;
    top: 4%;;
    font-size: 7em;
    letter-spacing: 2px;
    animation: 1000ms ease 0ms 1 normal both apparitionG;
  }
header{
    display: flex;
    height: 50%;
    align-items: center;
}

.banner{
    width: 100%;
    position: absolute;
    height: 50%;
    border-bottom: 3px solid black ;
}

/* Style Lignes déco*/
.lignes{
    position: absolute;
    top: 26%;
    left: 3%;
    animation: 1000ms ease 0ms 1 normal both apparitionG;
}
.l1{
    width:250px;
    border-bottom: white solid 5px;
}
.l2{
    width:140px;
    border-bottom: white solid 5px;
    position: relative;
    top: 20px;
}

.first{
    display: flex;
    align-items: stretch;
    justify-content:center;
    
    animation: 1000ms ease 0ms 1 normal both apparitionD;
}

.art1{
    border-radius: 5%;
    border: solid 2px black;
    margin: 10px;
}

h2,p{
    position: relative;
    font-size: 2em;
    font-family: "Belanosima";
    top: 30%;
    margin: 5px;
}

h2{
    font-size: 5em;
}
.art1{
    height: 400px;
}

.d2{
    display: flex;
    justify-content: right;
    margin-right: 10%;
  }

  .d1{
    display: flex;
    justify-content: left;
    margin-left: 10%;
  }


@keyframes apparitionG{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes apparitionD{
    0%{
        opacity: 0;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}